.clients{
    border: 2px solid white;
    width: 100%;
    height: 77vh;
    text-align: center;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clients h2{
   
    font-size: 3.3rem;
    margin-bottom: 2rem;
    font-weight: 600;
}


.clients p{
    
    display: inline;
    width: 440px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #ccc;
}