.companies{
    width: 100%;
    min-height: 60vh;
     text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}


.companies h3{
    color: #ccc;
}

.comp-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 20px 40px;
}

.comp-logos img{
    width: auto;
    height:35px;
    object-fit: cover;
    cursor: pointer;
}

.line-1, .line-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}



.logo-box{
    position: relative;
    border: 1px solid #2f2d2d;
    padding: 30px 50px;
    border-radius: 16px ;
    cursor: pointer;
    overflow: hidden;
    
}


.logo-box::before{
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    background: linear-gradient(to top right,#0000 40%, rgba(98, 98, 203, 0.3) );
    opacity: 0;
    transition: opacity .3s  ease;
    border-radius: inherit;
    
}


.logo-box:hover::before{
    opacity: 1;
    
    
}


