.features {
  width: 100%;
  height: auto;
  /* border: 1px solid #312f2f; */
  
  padding: 30px 40px;
  background: linear-gradient(to  bottom right,  rgb(83, 2, 145, 0.3) , #000 );
}


.feature-heading{
    font-size: 1.5rem;
    line-height: 1.3;
    margin-top: 2rem;
    text-align: left;
    margin-bottom: 4rem;
}






.col-1, .col-2, .col-3{
   
    display: grid;
    flex: 0 0 auto;
    gap: 40px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: repeat(2, min-content);
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;

} 

.box{
    
    width: 340px;
    height: auto;
    text-align: left;
}

.box h4{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
}

.box h4 i{
    margin-right:5px ;
}

.box p{
    font-size: 15px;
    color: #ccc;
    font-weight: 400;
    line-height: 1.5;
}



.box .new-tag{
    color: #000;
 background-color: #9855ff;
  padding: 3px 12px;
  font-weight: 800;
  margin: 0 5px  0;
  font-size: 0.7rem;
  border-radius: 10px;
}