*{
    margin:0;
padding: 0;

}



.hero-section{
    width: 100%;
  padding: 80px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
overflow: hidden;
z-index: 1;

}



.hero-content{
    margin-top: 2rem;
    width: 850px;
    height: 600px;
    text-align: center;
    padding: 1.5rem;
    margin:4rem 0 2rem 0;
   
       
    background-color: inherit;
}





.heading h1{
    margin: 2rem 0 2rem 0;
    font-size: 6rem;
    line-height: 1.2;
    font-weight: 600;
    color: white;
   
   
}

.highlight{
    background: linear-gradient(to bottom, #faf8f8 ,#B372CF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}




.heading p{
    font-size: 1.4rem;
    line-height: 1.4;
    color: #ccc;
    font-weight: 600;
    margin:3rem 0 2rem 0
}













.badge{
    border: 1px solid #2f2d2d;
    display: inline;
    font-size: .9rem;
    padding: 12px 14px;
    border-radius: 26px;
  

}

.badge a{
    color: #9855ff;
    text-decoration: none;
    font-weight: 600;
}





.cta-btn-2 {
  background-color: whitesmoke;
  color: #000;
  padding: 15px 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-weight:600;
  outline: none;
  margin-top: 2.5rem;
  font-size: .9rem;
  z-index: 1;

  
  

}

.cta-btn-2:hover {
  background-color: white;
  transition: all .3s ease;
  color: #Ccc;
  transform: scale(1.03); 
 transition: all .3s ease-in;

}




.tag-2 {
color: #000;
 background-color: #9855ff;
  padding: 3px 12px;
  font-weight: 800;
  margin: 0 5px  0;
  font-size: 0.7rem;
  border-radius: 10px;
}





.img-container-2{
    width: 100%;
    border: 12px solid black;
    border-bottom:none ;
box-shadow: 0 -10px  50px rgba(96, 42, 154, 0.9);
 border-radius: 16px;
    
  



    
}


.img-container-2 img{
     position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    border-top: 1px solid #2f2d2d;
    z-index: 0;
  
   
    
    
}

