<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI-Startup-Kit Website | Home</title>
    <link rel="icon" type="icon" href="/src/title-logo.png">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/components/styles/main.css" />
    <link rel="stylesheet" href="/components/styles/Navbar.css" />
    <link rel="stylesheet" href="/components/styles/Hero-Section.css" />
    <link rel="stylesheet" href="/components/styles/feature-section.css" />
    <link rel="stylesheet" href="/components/styles/testimonial-section.css" />
    <link rel="stylesheet" href="/components/styles/pricing-section.css" />
    <link rel="stylesheet" href="/components/styles/cta-section.css" />
    <link rel="stylesheet" href="/components/styles/footer-section.css" />
    

  </head>

  <body>
    <!-- Navbar-structure -->
    <header class="navbar">
      <div class="nav-container">
        <nav>
          <div class="nav-logo">
            <img src="/src/Logo.png" alt="Web Logo" loading="lazy" />
          </div>

          <div class="nav-links" id="nav-link">
            <ul>
              <li class="dropdown">
                <a href="#" id="drop-btn"
                  >Features <i class="fa-solid fa-caret-down" id="drop-icon"></i
                ></a>
                <div class="dropdown-content" id="drop-content">
                  <div class="dropdown-left">
                    <a href="#" class="feature">
                      <i class="fa-solid fa-gauge"></i>
                      <div class="div">
                        <h4>Dashboard</h4>
                        <p>Perform SEO audits</p>
                      </div>
                    </a>
                    <a href="#" class="feature">
                      <i class="fa-solid fa-list-check"></i>
                      <div class="div">
                        <h4>Content evaluation</h4>
                        <p>simple corrections</p>
                      </div>
                    </a>
                    <a href="#" class="feature">
                      <i class="fa-solid fa-crosshairs"></i>
                      <div class="div">
                        <h4>SEO goals</h4>
                        <p>Set and achieve SEO goals</p>
                      </div>
                    </a>
                    <a href="#" class="feature">
                      <i class="fa-solid fa-star"></i>
                      <div class="div">
                        <h4>Smart Ketword Generator</h4>
                        <p>Automatic suggestions</p>
                      </div>
                    </a>
                    <a href="#" class="feature">
                      <i class="fa-solid fa-bell"></i>
                      <div class="div">
                        <h4>Automated alerts</h4>
                        <p>Automatic notifications</p>
                      </div>
                    </a>
                  </div>

                  <!--  -->
                  

                    



                  <div class="dropdown-right">
                    <div class="drop-img-container">
                      <div class="img">
                        <img
                          src="/src/nav-link-img.avif"
                          alt="Progress Image"
                         loading="lazy"/>
                        <div class="tag">NEW</div>
                        <div class="img-content">
                          <h4>Visual reports</h4>
                          <p>Insights into you site performance</p>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="latest">
                      See the latest featurs
                      <i class="fa-solid fa-arrow-right" id="arrow"></i
                    ></a>
                  </div>
                </div>
              </li>
            </ul>

            <li><a href="#">Developers</a></li>

            <ul>
              <li class="dropdown-2">
                <a href="#" class="company"
                  >Company <i class="fa-solid fa-caret-down" id="drop-icon"></i
                ></a>
                <div class="dropdown-content-2" id="dropdown2">
                  <a href="#" class="feature">
                    <i class="fa-solid fa-users"></i>
                    <div>
                      <h4>About</h4>
                      <p>Our vision</p>
                    </div>
                  </a>
                  <a href="#" class="feature">
                    <i class="fa-solid fa-suitcase"></i>
                    <div>
                      <h4>Careers</h4>
                      <p>Jion our tema</p>
                    </div>
                  </a>
                  <a href="#" class="feature">
                    <i class="fa-solid fa-shapes"></i>
                    <div>
                      <h4>Press Kit</h4>
                      <p>Brand assets & media</p>
                    </div>
                  </a>
                  <a href="#" class="feature">
                    <i class="fa-solid fa-envelope"></i>
                    <div>
                      <h4>Contact</h4>
                      <p>Get in touch</p>
                    </div>
                  </a>
                </div>

                
                
            </ul>

            <li><a href="#">Blog</a></li>
            <li><a href="#">Changelog</a></li>

            <!-- Mobile Dropdown Menu -->
            <div class="dropdown-left-mobile" id="dropdown-mobile">
                <h4>Features</h4>
                <a href="#"><i class="fa-solid fa-gauge"></i> Dashboard</a>
                <a href="#"><i class="fa-solid fa-list-check"></i> Content evaluation</a>
                <a href="#"><i class="fa-solid fa-crosshairs"></i> SEO goals</a>
                <a href="#"><i class="fa-solid fa-star"></i> Smart Keyword Generator</a>
                <a href="#"><i class="fa-solid fa-bell"></i> Automated alerts</a>

                <h4>Developers</h4>

                <h4>Company</h4>
                <a href="#"><i class="fa-solid fa-users"></i> About</a>
                <a href="#"><i class="fa-solid fa-suitcase"></i> Careers</a>
                <a href="#"><i class="fa-solid fa-shapes"></i> Press Kit</a>
                <a href="#"><i class="fa-solid fa-envelope"></i>Contact</a>

                <h4>Blog</h4>
                <h4>Changelog</h4>
            </div>

              </li>
          </div>

          <div class="nav-btn" id="desktop-view">
            <button>Jion waitlist</button>
          </div>

          <div class="mobile">
            <div class="nav-btn" id="mobile-view">
              <button>Jion waitlist</button>
            </div>
            <div class="hamburger-btn" id="hamburger">
              <i class="fa-solid fa-bars"></i>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- Hero-section -->
    <section class="hero-section">
     
      <div class="hero-content">
        <div class="upper-content">
            <div class="badge">
            <a href="#"
              ><span class="tag-2">NEW</span> Latest integration just arrived</a
            >
          </div>
          <div class="main-heading">
            <h1><span class="dark">El</span>evate your SEO efforts</h1>
            <p>Elevate your site’s visibility effortlessly with AI, where smart technology meets user-friendly SEO tools.</p>
          </div>
          
          <div class="input">
            <input type="email" placeholder="Your email">
            <button class="mail-btn">Sign Up</button>
          </div>
        </div>
         
  <div class="lower-cont">
  <div class="heading">
    <h4>Trusted by top innovative teams:</h4>
  </div>

  <div class="comp-carousel">
    <div class="track">
      <div class="group">
        <div class="img-card"><img src="/src/2twice.png"></div>
        <div class="img-card"><img src="/src/acme-crop.png"></div>
        <div class="img-card"><img src="/src/apex.png"></div>
        <div class="img-card"><img src="/src/celestial.png"></div>
        <div class="img-card"><img src="/src/echo-valley.png"></div>
        <div class="img-card"><img src="/src/outside.png"></div>
        <div class="img-card"><img src="/src/pulse.png"></div>
        <div class="img-card"><img src="/src/quantum.png"></div>
      </div>

      <div class="group" aria-hidden="true">
        <div class="img-card"><img src="/src/2twice.png"></div>
        <div class="img-card"><img src="/src/acme-crop.png"></div>
        <div class="img-card"><img src="/src/apex.png"></div>
        <div class="img-card"><img src="/src/celestial.png"></div>
        <div class="img-card"><img src="/src/echo-valley.png"></div>
        <div class="img-card"><img src="/src/outside.png"></div>
        <div class="img-card"><img src="/src/pulse.png"></div>
        <div class="img-card"><img src="/src/quantum.png"></div>
      </div>
    </div>
  </div>
</div>

        </div>
      </div>
        
        
      </div>

        
      </div>
       <div class="hero-cover-img">
        <img src="/src/l.png" alt="Hero-cover-Image" loading="lazy">
      </div>

     

    </section>

    <!-- Feature Section -->

    <section class="feature-container">
      
        <div class="f-heading">
          <span class="mini-heading">Everything you need</span>
          <p>Harness the power of AI, making search engine optimization intuitive and effective for all skill levels.</p>
        </div>

        <div class="f-img-container">
          <img src="/src/feature-img.png" alt="Dashboard Image" loading="lazy">
        </div>


        <div class="f-context">
          <div class="chart-line-1">
            <div class="features-1">
              <h4><i class="fa-solid fa-chart-area"></i> Visual reports</h4>
              <p>Visual insights into your site’s performance.</p>
            </div>
            <div class="features-1">
              <h4> <i class="fa-solid fa-crosshairs"></i>SEO goal setting</h4>
              <p>Helps you set and achieve SEO goals with guided assistance</p>
            </div>
            <div class="features-1">
              <h4><i class="fa-solid fa-arrow-pointer"></i>One-click optimization</h4>
              <p>Perform complex SEO audits and optimizations with a single click.</p>
            </div>
            

          </div>

          <div class="chart-line-2">
            <div class="features-2">
              <h4><i class="fa-solid fa-star"></i> Smart Keyword Generator</h4>
              <p>Automatic suggestions and the best keywords to target.</p>
            </div>
            <div class="features-2">
              <h4><i class="fa-solid fa-bell"></i> Automated alerts</h4>
              <p>Automatic notifications about your SEO health, including quick fixes.</p>
            </div>
            <div class="features-2">
              <h4><i class="fa-solid fa-file"></i>Competitor reports</h4>
              <p>Provides insights into competitors’ keyword strategies and ranking.</p>
            </div>

          </div>
        </div>
    </section>

    <!-- Testimonial section -->
    <section class="testimonial">
      
      <div class="testimonial-content">
        <div class="box-shadow"></div>
        <div class="img-container">
          <img src="/src/customer-images.png" alt="Customer Image" loading="lazy" >
        </div>
        <div class="review">
          <p class="comment">”This product has completely transformed how I manage my projects and deadlines”</p>
          <h4>Talia Taylor</h4>
          <p class="prof">Digital Marketing Director @ Quantum</p>
        </div>
      </div>
    </section>

    <!-- Pricing section -->
     <section class="pricing">
      <div class="pricing-content">
        <h1>Pricing</h1>
        <p>Choose the right plan to meet your SEO needs and start optimizing today.</p>

        <div class="table-container">
          <div class="pricing-table">
        <table>
        <tr>
            <th></th>
            <th>Basic <div class="btn"><button>Get Started</button></div></th>
            <th class="bg-glow ">Pro <div class="glow-btn"><button>Get Started</button></div></th>
            <th>Business <div class="btn"><button>Get Started</button></div></th>
        </tr>

        <tr>
            <td>Price</td>
            <td>$29</td>
            <td>$79</td>
            <td>$149</td>
        </tr>


        <tr>
            <td>Keyword optimization</td>
            <td><i class="fa-solid fa-check"></i> Unlimited</td>
            <td><i class="fa-solid fa-check"></i> Unlmited</td>
            <td><i class="fa-solid fa-check"></i> Unlmited</td>
        </tr>
        <tr>
            <td>Automated meta tags</td>
            <td><i class="fa-solid fa-check"></i> 1000</td>
            <td><i class="fa-solid fa-check"></i> Unlmited</td>
            <td><i class="fa-solid fa-check"></i> Unlmited</td>
        </tr>
        <tr>
            <td>SEO Monitoring</td>
            <td><i class="fa-solid fa-check"></i> </td>
            <td><i class="fa-solid fa-check"></i> </td>
            <td><i class="fa-solid fa-check"></i> </td>
        </tr>
        <tr>
            <td>Monthly reports</td>
            <td><i class="fa-solid fa-check"></i> </td>
            <td><i class="fa-solid fa-check"></i> </td>
            <td><i class="fa-solid fa-check"></i> </td>
        </tr>
        <tr>
            <td>Content suggestions</td>
            <td><i class="fa-solid fa-check"></i> </td>
            <td><i class="fa-solid fa-check"></i> </td>
            <td><i class="fa-solid fa-check"></i> </td>
        </tr>
        <tr>
            <td>Link optimization</td>
            <td><i class="fa-solid fa-check"></i> </td>
            <td><i class="fa-solid fa-check"></i> </td>
            <td><i class="fa-solid fa-check"></i> </td>
        </tr>
        <tr>
            <td>Milti-user acces</td>
            <td><i class="fa-solid fa-check"></i> </td>
            <td><i class="fa-solid fa-check"></i> </td>
            <td><i class="fa-solid fa-check"></i> </td>
        </tr>
        <tr>
            <td>API Integration</td>
            <td><i class="fa-solid fa-check"></i> </td>
            <td><i class="fa-solid fa-check"></i> </td>
            <td><i class="fa-solid fa-check"></i> </td>
        </tr>
    </table>

        </div>
            

        </div>
      </div>
     </section>

    <!--CTA section  -->
    <section class="cta">
      <div class="cta-content">
        <div class="over"></div>
        <img src="/src/cta-icon.png" alt="CTA Icon" loading="lazy ">
        <div class="title">
          <h2>The magic of AI at your fingertips.</h2>
          <p>Achieve clear, impactful results without the complexity.</p>
          <button class="cta-btn">Try for free</button>
        </div>
      </div>
    </section>     

    <!-- footer -->
     <footer>
      <div class="footer-content">
        <div class="img-title">
          <img src="/src/Logo.png" alt="Logo" loading="lazy">
          <h4>AI Startup Kit</h4>
        </div>

        <div class="links" id="desk-footer">
          <a href="#">Features</a>
          <a href="#">Integration</a>
          <a href="#">Updates</a>
          <a href="#">FAQ</a>
          <a href="#">Pricing</a>
        </div>

        <div class="social-icons">
          <div class="icons">
            <i class="fa-brands fa-x-twitter" title="Twiter"></i>
            <i class="fa-brands fa-instagram" title="Instagram"></i>
            <i class="fa-brands fa-youtube" title="Youtube"></i>
          </div>
        </div>

      </div>
       <div class="links" id="mobile-footer" >
          <a href="#">Features</a>
          <a href="#">Integration</a>
          <a href="#">Updates</a>
          <a href="#">FAQ</a>
          <a href="#">Pricing</a>
        </div>
     </footer>
     <script src="https://unpkg.com/scrollreveal"></script>

    <script src="/components/script.js"></script>
  </body>
</html>
