<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="icon" href="/src/Logo.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./main.css" />
    <link rel="stylesheet" href="./Navbar.css">
    <title>AI-Startup-Website-UI-Kit</title>
  </head>
  <body>
    <header class="navbar">
      <nav>
        <div>
          <img src="/src/Logo.png" alt="Logo" class="logo" />
        </div>

        <div class="nav-links">
          <ul>
            <li class="dropdown">
              <button class="dropbtn">Features <i class="fa-solid fa-caret-down"></i> </button>
              <div class="dropdown-content">
                <div class="drop-left">
                  <a href="" class="feature">
                    <i class="fa-solid fa-gauge"></i>
                    <div>
                      <h4>Dashboard</h4>
                      <p>Perform SEO audits</p>
                    </div>
                  </a>

                  <a href="" class="feature">
                    <i class="fa-solid fa-list-check"></i>
                    <div>
                      <h4>Content evaluation</h4>
                      <p>Simple corrections</p>
                    </div>
                  </a>

                  <a href="" class="feature">
                    <i class="fa-solid fa-crosshairs"></i>
                    <div>
                      <h4>SEO goals</h4>
                      <p>Set and achieve SEO goals</p>
                    </div>
                  </a>

                  <a href="" class="feature">
                    <i class="fa-solid fa-star"></i>
                    <div>
                      <h4>Smart Keyword Generator</h4>
                      <p>Automatic suggestions</p>
                    </div>
                  </a>

                  <a href="" class="feature">
                    <i class="fa-solid fa-bell"></i>
                    <div>
                      <h4>Automatic alerts</h4>
                      <p>Automatic notifications</p>
                    </div>
                  </a>
                </div>
                <div class="dropdown-right">
                  <div class="img-container">
                    <img src="/src/nav-link-img.avif" class="dropdown-img" alt="Reports Img" />
                    <div class="tag">NEW</div>
                    <div class="img-content">
                      <h4>Visual reports</h4>
                      <p>Insights into your site performance</p>
                    </div>
                  </div>
                  <a href="#">See the latest features <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </li>
          </ul>
          <a href="#developers">Developers</a>
          <div>
            <ul>
                <li class="dropdown-2">
                    <button class="dropbtn">Company</button>
                    <div class="dropdown-content-2">
                        <a href="">
                            <i class="fa-solid fa-users"></i>
                            <div>
                                <h4>About</h4>
                                <p>Our vision</p>
                            </div>
                        </a>
                        <a href="">
                            <i class="fa-solid fa-suitcase"></i>
                            <div>
                                <h4>Careers</h4>
                                <p>Jion our team</p>
                            </div>
                        </a>
                        <a href="">
                            <i class="fa-solid fa-shapes"></i>
                            <div>
                                <h4>Press Kit</h4>
                                <p>Brand assets & media</p>
                            </div>
                        </a>
                        <a href="">
                            <i class="fa-solid fa-envelope"></i>
                            <div>
                                <h4>Contact</h4>
                                <p>Get in touch</p>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
          </div>
          <a href="#blog">Blog</a>
          <a href="changelog">Changelog</a>
        </div>
      </nav>
    </header>
  </body>
</html>
